* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background: #07080f;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
}

img, canvas, iframe, svg {
  max-width: 100%;
}